[MAIN]

py-version=3.10
clear-cache-post-run=no
jobs=0
persistent=yes
suggestion-mode=yes
load-plugins=pylint.extensions.check_elif,
             pylint.extensions.docparams,
             pylint.extensions.for_any_all,
             pylint.extensions.set_membership,
             pylint.extensions.overlapping_exceptions,
             pylint.extensions.typing,
             pylint.extensions.comparison_placement

[MESSAGES CONTROL]

disable=

[BASIC]

argument-naming-style=snake_case
attr-naming-style=snake_case
class-attribute-naming-style=UPPER_CASE
class-const-naming-style=UPPER_CASE
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
function-naming-style=snake_case
inlinevar-naming-style=any
method-naming-style=snake_case
module-naming-style=snake_case
no-docstring-rgx=__.*__
variable-naming-style=snake_case
include-naming-hint=yes

[CLASSES]

check-protected-access-in-special-methods=yes
exclude-protected = _data_manager, _load_and_parse_data

[MISCELLANEOUS]

notes-rgx=
notes=BUG,
      TODO,
      FIXME

[DESIGN]

max-args=6
max-statements=20
max-branches=10
max-locals=15

[SIMILARITIES]

min-similarity-lines=4

[STRING]

check-quote-consistency=yes
check-str-concat-over-line-jumps=yes
